@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet');

html{
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}
h1{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 40px;
    letter-spacing: 4px;
    text-decoration: underline;
}
.loader{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);    
}
.loader img{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* image container */
.image-container{
    margin: 10px 30%;
}
.image-container img{
    width: 100%;
    margin-top: 5px;
}
  button {
    cursor: pointer;
    font-size: 1.2rem;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    color: #fff;
    background-color: #333;
    outline: none;
    padding: 0.5rem 1.8rem 0.5rem 1.8rem;
    box-shadow: 0 0.3rem rgba(121, 121, 121, 0.65);
  }
  
  button:hover {
    filter: brightness(110%);
  }
  
  button:active {
    transform: translate(0, 0.3rem);
    box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
  }
  
  .twitter-button:hover {
    color: #38a1f3;
  }
  
  #twitter-icon {
    font-size: 1.5rem;
  }
  
/* Media query for Smartphones */
@media screen and  (max-width: 600px){
    h1{
        font-size: 25px;
    }
    .image-container{
        margin: 10px;
    }
}